<a class="card card-compact bg-base-100 hover:bg-base-content/10 shadow-xl cursor-pointer dark:border dark:border-base-content/30" href="{{ .RelPermalink }}">
  <figure>
  {{ if .Params.cover }}
    {{ with .Resources.Get .Params.cover }}
    {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
    <picture>
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" data-action="zoom"/>
    </picture>
    {{ else }}
    <img src="{{ .Params.cover }}" alt="{{ .Title }}" data-action="zoom"/>
    {{ end }}
  {{ else }}
    {{ with resources.Get (printf "images/default%d.jpg" (index (seq 4 | shuffle) 0)) }}
    {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
    <picture>
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" data-action="zoom/>
    </picture>
    {{ end }}
  {{ end }}
  </figure>

  <div class="card-body">
    <!-- <p class="date text-base-content/60">
      {{ if site.Params.Experimental.jsDate }}
        <span data-format="luxon">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
      {{ else }}
      {{- if eq site.Language.Lang "zh" -}}
        {{ index site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}，{{ index site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
      {{- else if eq site.Language.Lang "es" -}}
        {{ index site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
      {{- else if eq site.Language.Lang "pt" -}}
        {{ index site.Data.pt.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index site.Data.pt.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
      {{- else if eq site.Language.Lang "fr" -}}
        {{ index site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
      {{- else -}}
        {{ .Date.Format "Monday, Jan 2, 2006" }}
      {{- end -}}
      {{ end }}
      </p> -->
      {{ with .Params.tags }}
      <p class="date text-base-content/60">
        {{ range . }}
          {{ . }}
        {{ end }}
      </p>
      {{ end }}
    <h1 class="card-title">{{ .Title }}</h1>


    {{ if site.Params.showhomesummary }}
     {{ .Summary | emojify | safeHTML }}
    {{ end }}
    

    <div class="card-actions justify-between items-center mt-4">
      <!-- {{ partial "author.html" (dict "Params" .Params "template" "summary") }} -->
      <p class="date text-base-content/60">
        {{ if site.Params.Experimental.jsDate }}
          <span data-format="luxon">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
        {{ else }}
        {{- if eq site.Language.Lang "zh" -}}
          {{ index site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}，{{ index site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
        {{- else if eq site.Language.Lang "es" -}}
          {{ index site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
        {{- else if eq site.Language.Lang "pt" -}}
          {{ index site.Data.pt.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index site.Data.pt.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
        {{- else if eq site.Language.Lang "fr" -}}
          {{ index site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
        {{- else -}}
          {{ .Date.Format "Monday, Jan 2, 2006" }}
        {{- end -}}
        {{ end }}
        </p>
      {{ if site.Params.showReadingTime }}
      | <span>{{ .ReadingTime }}{{ T "minuteRead" .ReadingTime }}</span>
      {{ end }}
    </div>
  </div>
</a>
